# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/config
/configure

# build leftovers

/config.h
/config.log
/config.status
/build
/version.h
/stamp-h1
Makefile
.deps
/src/distro-specific/zfd.sh
/src/general/nk_common.sh
/src/general/nk_logic_ops.sh
/src/general/showsigs
/src/general/showsigs.c
/src/general/slaughter.sh
/src/general/tryedit.sh
/src/system-specific/_miniprlimit
/src/system-specific/_miniprlimit.c
/src/system-specific/miniprlimit.sh

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backups
*~
